Source: spotify-annoy-java
Section: non-free/net
Priority: extra
Maintainer: Andy Sloane
Build-Depends: debhelper (>= 7), spotify-common, default-jdk, maven2, spotify-maven-config, spotify-supervision2-debhelper
Standards-Version: 3.7.2

Package: spotify-annoy-java
Architecture: all
Depends: default-jre, spotify-supervision2, spotify-tools
Description: java client library for annoy, an approximate nearest neighbor lib
